body{
background:#0f172a;
color:#e5e7eb;
font-family:Arial;
margin:0;
}

.hidden{display:none;}

#splash{
position:fixed;
inset:0;
background:#020617;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
animation:fadeOut 1.2s forwards;
}

@keyframes fadeOut{
0%{opacity:1}
100%{opacity:0;visibility:hidden}
}

.app{
max-width:520px;
margin:auto;
padding:16px;
animation:slideUp .6s ease;
}

@keyframes slideUp{
from{opacity:0;transform:translateY(20px)}
to{opacity:1;transform:none}
}

.card{
background:#020617;
padding:16px;
border-radius:14px;
margin-bottom:20px;
transition:.3s;
}

.card:hover{transform:translateY(-2px)}

input,select,button{
width:100%;
padding:10px;
margin:6px 0;
border-radius:8px;
border:none;
}

button{
background:#22c55e;
font-weight:bold;
cursor:pointer;
}

.secondary{background:#334155}

.workout-day{
border:1px solid #334155;
padding:10px;
border-radius:10px;
margin-top:10px;
animation:fadeIn .4s ease;
}

@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}

canvas{
width:100%;
margin-top:10px;
background:#020617;
border-radius:10px;
}